@model QLNhaTro_API.Models.TaiKhoan

@{
    ViewBag.Title = "Sửa";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<p style="text-align:right;margin:10px;">
    <a href="@Url.Action("Index","TaiKhoans")" class="btn btn-primary">QUAY LẠI</a>
</p>
<div class="container my-3 rounded rounded-3 border border-2" style="width:40%;">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center my-3">SỬA THÔNG TIN TÀI KHOẢNG</h1>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.IdTaiKhoan)
            <div class="mb-3">
                <h3 class="form-label">Họ và tên</h3>
                <div class="col-md-12">
                    @Html.EditorFor(model => model.HoTen, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.HoTen, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="mb-3">
                <h3 class="form-label">Số điện thoại</h3>
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Sdt, new { htmlAttributes = new { @class = "form-control", type="number" } })
                    @Html.ValidationMessageFor(model => model.Sdt, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="mb-3">
                <h3 class="form-label">Địa chỉ</h3>
                <div class="col-md-12">
                    @Html.EditorFor(model => model.DiaChi, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DiaChi, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="mb-3">
                <h3 class="form-label">Tên đăng nhập</h3>
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="mb-3">
                <h3 class="form-label">Mật khẩu</h3>
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", type = "password" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="mb-2 text-center">
                <input type="submit" value="LƯU" class="btn btn-success form-control" />
            </div>
        </div>
    </div>
</div>}
