@model QLNhaTro_API.Models.HoaDonDichVu

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<p style="text-align:right;margin:10px;">
    <a href="@Url.Action("Index","HoaDonDichVus")" class="btn btn-primary">QUAY LẠI</a>
</p>
<div class="container my-3 rounded rounded-3 border border-2" style="width:40%;">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center my-3">XÓA HÓA ĐƠN DỊCH VỤ?</h1>
            <hr />
            <div class="mb-3">
                <h3 class="form-label">Họ và tên khách hàng: @Html.DisplayFor(model => model.KhachHang.HoTen)</h3>
            </div>
            <div class="mb-3">
                <h3 class="form-label">Số phòng: @Html.DisplayFor(model => model.Phong.TenPhong)</h3>
            </div>
            <div class="mb-3">
                <h3 class="form-label">Ngườu thu tiền: @Html.DisplayFor(model => model.TaiKhoan.HoTen)</h3>
            </div>
            <div class="mb-3">
                <h3 class="form-label">Số tiền thanh toán: @Html.DisplayFor(model => model.TienThanhToan)</h3>
            </div>
            <div class="mb-3">
                <h3 class="form-label">Trạng thái thanh toán: @Html.DisplayFor(model => model.TrangThaiThanhToan)</h3>
            </div>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="mb-2 text-center">
                    <input type="submit" value="XÓA" class="btn btn-success form-control" style="background-color:red" />
                </div>}
        </div>
    </div>
</div>