@model QLNhaTro_API.Models.KhachHang

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@using (Html.BeginForm("Create", "KhachHangs", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <p style="text-align:right;margin:10px;">
        <a href="@Url.Action("Index","KhachHangs")" class="btn btn-primary">QUAY LẠI</a>
    </p>
    <div class="container my-3 rounded rounded-3 border border-2" style="width:40%;">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center my-3">THÊM KHÁCH HÀNG MỚI</h1>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="mb-3">
                    <h3 class="form-label">Họ và tên</h3>
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.HoTen, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.HoTen, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="mb-3">
                    <h3 class="form-label">Số điện thoại</h3>
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.Sdt, new { htmlAttributes = new { @class = "form-control", type= "number" } })
                        @Html.ValidationMessageFor(model => model.Sdt, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="mb-3">
                    <h3 class="form-label">Giới tính</h3>
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.GioiTinh, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.GioiTinh, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="mb-3">
                    <h3 class="form-label">Quê quán</h3>
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.QueQuan, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.QueQuan, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="mb-3">
                    <h3 class="form-label">Hộ khẩu thường trú</h3>
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.HKTT, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.HKTT, "", new { @class = "text-danger" })
                    </div>
                </div>

                @if (ViewBag.Error2 != null)
                {
                    <div class="alert alert-danger" role="alert">
                        @ViewBag.Error2
                    </div>}

                <div class="mb-3">
                    <h3 class="form-label">Số CMND/CCCD</h3>
                    <div class="col-md-12">
                        <input type="file" name="fileUpload" id="fileUpload">
                        <div class="image-preview" id="imagePreview">
                            <img src="" alt="Image Preview" class="image-preview-img" />
                            <span class="image-preview-text">Image Preview</span>
                        </div>
                    </div>
                </div>

                <div class="mb-2 text-center">
                    <input type="submit" value="TẠO" class="btn btn-success form-control" />
                </div>
            </div>
        </div>
    </div>}

<script>
    var fileUpload = document.getElementById("fileUpload");
    var previewContainer = document.getElementById("imagePreview");
    var previewImage = previewContainer.querySelector(".image-preview-img");
    var previewText = previewContainer.querySelector(".image-preview-text");

    fileUpload.addEventListener("change", function () {
        var file = this.files[0];
        if (file) {
            var reader = new FileReader();
            previewText.style.display = "none";
            previewImage.style.display = "block";
            reader.readAsDataURL(file);
            reader.addEventListener("load", function () {
                previewImage.setAttribute("src", this.result);
            });
        }
        else {
            previewText.style.display = null;
            previewImage.style.display = null;
            previewImage.setAttribute("src", this.result);
        }
    });</script>