@model IEnumerable<QLNhaTro_API.Models.KhachHang>
@using System.Globalization
@{
    ViewBag.Title = "Khách Hàng";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<p style="text-align:right;margin:20px;">
    <a href="@Url.Action("Create","KhachHangs")" class="btn btn-primary">Tạo mới</a>
</p>
<table class="table" id="myTable">
    <thead>
        <tr>
            <th>
                HỌ VÀ TÊN  
            </th>
            <th>
                SỐ ĐIỆN THOẠI
            </th>
            <th>
                GIỚI TÍNH
            </th>
            <th>
                QUÊ QUÁN
            </th>
            <th>
                HỘ KHẨU THƯỜNG TRÚ
            </th>
            <th>
                SỐ CMND/CCCD
            </th>
            <th>Thao tác</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HoTen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sdt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GioiTinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QueQuan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HKTT)
            </td>
            <td>
                <img src="@item.SoCMND" width="60" height="60" alt="Hình CMND" />
            </td>
            <td>
                <a data-toggle="tooltip" data-placement="bottom" title="Sửa" class="btn btn-sm btn-success" href="@Url.Action("Edit","KhachHangs",new { @id = item.IdKhachHang })">
                    <i class="fas fa-edit"></i>
                </a>
                <a data-toggle="tooltip" data-placement="bottom" title="Xoá" class="btn btn-sm btn-danger" href="@Url.Action("Delete","KhachHangs",new { @id = item.IdKhachHang })">
                    <i class="fas fa-trash-alt"></i>
                </a>
                <a data-toggle="tooltip" data-placement="bottom" title="Xem chi tiết" class="btn btn-sm btn-info" href="@Url.Action("Details","KhachHangs",new { @id = item.IdKhachHang })">
                    <i class="fas fa-info-circle"></i>
                </a>
            </td>
        </tr>
        }
    </tbody>
</table>

<script>
    jQuery(document).ready(function () {
        $('#myTable').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.22/i18n/Vietnamese.json"
            }
        });
    });
</script>
