@model QLNhaTro_API.Models.DichVu

@{
    ViewBag.Title = "Thêm";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@using (Html.BeginForm("Create", "DichVus", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <p style="text-align:right;margin:10px;">
        <a href="@Url.Action("Index","DichVus")" class="btn btn-primary">QUAY LẠI</a>
    </p>
    <div class="container my-3 rounded rounded-3 border border-2" style="width:40%;">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center my-3">THÊM DỊCH VỤ MỚI</h1>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="mb-3">
                    <h3 class="form-label">Tên dịch vụ</h3>
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.TenDichVu, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TenDichVu, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="mb-3">
                    <h3 class="form-label">Đơn giá</h3>
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.DonGia, new { htmlAttributes = new { @class = "form-control", type="number" } })
                        @Html.ValidationMessageFor(model => model.DonGia, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="mb-2 text-center">
                    <input type="submit" value="Tạo" class="btn btn-success form-control" />
                </div>
            </div>
        </div>
    </div>
}
