@model QLNhaTro_API.Models.ThuePhong

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<p style="text-align:right;margin:10px;">
    <a href="@Url.Action("Index","ThuePhongs")" class="btn btn-primary">QUAY LẠI</a>
</p>
<div class="container my-3 rounded rounded-3 border border-2" style="width:40%;">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center my-3">THÔNG TIN HỢP ĐỒNG</h1>
            <hr />
            <div class="mb-3">
                <h3 class="form-label">Họ và tên khách hàng: @Html.DisplayFor(model => model.KhachHang.HoTen)</h3>
            </div>
            <div class="mb-3">
                <h3 class="form-label">Phòng số: @Html.DisplayFor(model => model.Phong.TenPhong)</h3>
            </div>
            <div class="mb-3">
                <h3 class="form-label">Số tiền đặt cọc: @Html.DisplayFor(model => model.TienDatCoc)</h3>
            </div>
            <div class="mb-3">
                <h3 class="form-label">Ngày nhận phòng: @Html.DisplayFor(model => model.NgayBatDau)</h3>
            </div>
            <div class="mb-3">
                <h3 class="form-label">Ngày trả phòng: @Html.DisplayFor(model => model.NgayKetThuc)</h3>
            </div>
            <div class="mb-3">
                <h3 class="form-label">File hợp đồng: <a href="@Model.FileHopDong" download>@Model.FileHopDong.Replace("/Content/fileHopDong/", "")</a></h3>
            </div>
        </div>
    </div>
</div>