@model QLNhaTro_API.Models.Phong

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<p style="text-align:right;margin:10px;">
    <a href="@Url.Action("Index","Phongs")" class="btn btn-primary">QUAY LẠI</a>
</p>
<div class="container my-3 rounded rounded-3 border border-2" style="width:40%;">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center my-3">XÓA THÔNG TIN PHÒNG?</h1>
            <hr />
            @if (ViewBag.Error != null)
            {
                <div class="alert alert-danger" role="alert">
                    @ViewBag.Error
                </div>
            }
            <div class="mb-3">
                <h3 class="form-label">Tên phòng: @Html.DisplayFor(model => model.TenPhong)</h3>
            </div>
            <div class="mb-3">
                <h3 class="form-label">Trạng thái đặt phòng: @Html.DisplayFor(model => model.TrangThai)</h3>
            </div>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="mb-2 text-center">
                    <input type="submit" value="XÓA" class="btn btn-success form-control" style="background-color:red" />
                </div>}
        </div>
    </div>
</div>
