@model QLNhaTro_API.Models.Phong

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<p style="text-align:right;margin:10px;">
    <a href="@Url.Action("Index","Phongs")" class="btn btn-primary">QUAY LẠI</a>
</p>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container my-3 rounded rounded-3 border border-2" style="width:40%;">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.IdPhong)
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center my-3">SỬA THÔNG TIN PHÒNG</h1>
                <hr />
                <div class="mb-3">
                    <h3 class="form-label">Tên phòng:</h3>
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.TenPhong, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TenPhong, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="mb-3">
                    <h3 class="form-label">Trạng thái đặt phòng:</h3>
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.TrangThai, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TrangThai, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="mb-2 text-center">
                    <input type="submit" value="Lưu" class="btn btn-success form-control" />
                </div>
            </div>
        </div>
    </div>
}
