@model List<QLNhaTro_API.Models.ChiTietHoaDon>

<div id="all" style="padding-left: 40px;">
    <div id="content">
        <div id="hot">
            <div class="box py-1">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 style="text-align: center; width: max-content; ">CỘNG HOÀ XÃ HỘI CHỦ NGHĨA VIỆT NAM</h2>
                            <h3 style="text-align: center; width: max-content; text-decoration: underline; padding-bottom:10px;">Độc lập - Tự do - Hạnh phúc</h3>
                            <h1 style="text-align: center; width: max-content; margin-top:50px;"><b>HOÁ ĐƠN SỬ DỤNG DỊCH VỤ</b></h1>

                            <h3 style="margin-top: 50px; padding-left: 50px; width: max-content;"><b>Tên khách hàng :</b>@Model.First().HoaDonDichVu.KhachHang.HoTen</h3>
                            <h3 style="padding-left: 50px; width: max-content; "><b>Tên phòng :</b> @Model.First().HoaDonDichVu.Phong.TenPhong</h3>
                            <h3 style="padding-left: 50px; width: max-content; "><b>Người thu tiền :</b> @Model.First().HoaDonDichVu.TaiKhoan.HoTen</h3>
                            <div class="section-border"></div>
                        </div>
                    </div>
                </div>
            </div>
            <table class="table table-bordered" style="width: max-content; margin: 0 auto; padding: 5px; border: 1px solid #808080;" border="1">
                <thead style="width:max-content; padding:5px;">
                    <tr>
                        <th style="width: max-content; padding: 10px;">TÊN DỊCH VỤ</th>
                        <th style="width: max-content; padding: 10px;">TÊN NGƯỜI SỬ DỤNG</th>
                        <th style="width: max-content; padding: 10px;">TỪ NGÀY</th>
                        <th style="width: max-content; padding: 10px;">TỚI NGÀY</th>
                        <th style="width: max-content; padding: 10px;">CHỈ SỐ CŨ </th>
                        <th style="width: max-content; padding: 10px;">CHỈ SỐ MỚI</th>
                        <th style="width: max-content; padding: 10px;">THÀNH TIỀN</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td style="width: max-content; padding: 10px;">
                                @Html.DisplayFor(modelItem => item.DichVu.TenDichVu)
                            </td>
                            <td style="width: max-content; padding: 10px;">
                                @Html.DisplayFor(modelItem => item.HoaDonDichVu.KhachHang.HoTen)
                            </td>

                            <td style="width: max-content; padding: 10px;">
                                @Convert.ToDateTime(item.TuNgay).ToString("dd/MM/yyyy")
                            </td>
                            <td style="width: max-content; padding: 10px;">
                                @Convert.ToDateTime(item.ToiNgay).ToString("dd/MM/yyyy")
                            </td>
                            <td style="width: max-content; padding: 10px;">
                                @Html.DisplayFor(modelItem => item.ChiSoCu)
                            </td>
                            <td style="width: max-content; padding: 10px;">
                                @Html.DisplayFor(modelItem => item.ChiSoMoi)
                            </td>
                            <td style="width:max-content; padding:10px;">
                                @Html.DisplayFor(modelItem => item.ThanhTien)
                            </td>
                        </tr>

                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="7" style="text-align: right; ">
                            <b>Tổng tiền : @Model.First().HoaDonDichVu.TienThanhToan đ</b>
                        </td>
                    </tr>
                </tfoot>
            </table>
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-6" style="text-align: right; padding: 40px;">
                        <h3>   TP.HCM, ngày @DateTime.Now.ToString("dd") Tháng @DateTime.Now.ToString("MM") Năm @DateTime.Now.ToString("yyyy")</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
